<div class="container mt-4">
  <div class="card">

    <div class="col-12 text-start p-3 ">
      <span class="h3">Listado de Tareas</span>
    </div>

    <div class="card-body ">
      <div class="row ">
        <div class="col-8 text-start ">
          <!-- <form class="d-flex" role="search" (ngSubmit)="filtrarTareas()">
            <input class="form-control me-2" type="text" placeholder="Nombre de la tarea" name="filtroTexto"
              [(ngModel)]="filtroTexto" (click)="resetearFormulario()">
            <button class="btn btn-success me-3" type="submit">Buscar</button>
          </form> -->
          <form class="d-flex" role="search">
            <div class="input-group">
              <input class="form-control me-2" type="search" placeholder="Buscar Tareas">
              <button class="btn btn-success" type="submit"><i class='bx bx-search-alt fs-4'></i></button>
            </div>
          </form>
        </div>
        <div class="col-4 text-end">
          <button class="btn btn-warning fw-bold " routerLink="/createTarea">Agregar</button>
        </div>
      </div>

      <!-- --------------------- mensaje cuando no hay datos --------------------- -->
      <div class="row mt-4 align-items-center" *ngIf="tareas.length === 0">
        <div class="col-5 text-center">
          <img width="100" src="../../../assets/meme.jpg" alt="No hay Datos">
        </div>
        <div class="col-7 text-start">
          <h4>No Hay Datos que Mostrar</h4>
        </div>
      </div>

      <!-- ------------------------- card de las tareas -------------------------- -->
      <div class="card mt-1 shadow bg-body rounded" *ngIf="tareas.length > 0">
        <div *ngFor="let tarea of tareas; let i = index">
          <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
            <h5 class="m-0"> {{i+1}}. </h5>
            <h6 class="m-0"> {{tarea.fechaLimite | date}} </h6>

            <!-- Checkbox -->
            <input class="form-check-input" type="checkbox" id="checkbox" [(ngModel)]="tarea.checked" >
          </div>

          <div class="card-body">
            <h5 class="card-title">Nombre tarea:</h5>
            <p class="card-text m-1 fw-bolder">{{tarea.tarea}}.</p>

            <h5 class="card-title">Personas asociadas:</h5>
            <ul>
              <li *ngFor="let persona of tarea.personas">
                <h6 class="card-text">{{persona.nombre}} - {{persona.edad}} años</h6>
                <h6 *ngFor="let habilidad of persona.habilidades">Habilidades: {{habilidad}}.</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
