
// Importacion de PrimeNG
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//Impoorta el Toastr para los mensajes
@import 'ngx-toastr/toastr';


body {
  background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A);

}


